# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and models
/data/
/models/
/results/
/logs/
*.h5ad
*.pth
*.pt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and OS
.vscode/
.idea/
.DS_Store
